.container {
	width: 20vw;
	height: 20vw;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: 1px solid #fff;
	font-size: 10px;
	color: white;
}

.header {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
}
.icon {
	height: 14px;
	width: auto;
}
.item {
	flex: 4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.itemHappened {
	background: rgb(21, 190, 125);
	color: black;
}

.itemDid {
	background-color: rgb(202, 18, 18);
}

.itemBoth {
	background-color: rgb(208, 211, 31);
}

.footer {
	flex: 1;
}
